/* Your styles here */

#body_container{
    height:100vh;
    width:  100vw;
    margin: 0px;
    padding: 0px ;

    }

/* MAPS */
#map-canvas {
    height:100%;
    width: auto;
    margin: 0px;
    padding: 0px ;

    }

#navigation-menu-canvas{
    height:100%;
    width:  100px;
    margin: 0px;
    padding: 0px ;
    float: right;
}


#taxi-navigation-menu-canvas{
    height:100%;
    width:  300px;
    margin: 0px;
    padding: 0px ;
    float: right;
}