<p>Error on Mar 31, 2015 18:40PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\agent\stat.php on line 2</p><p>Error on Mar 31, 2015 18:28PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\agent\stat.php on line 2</p><h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 16:11PM</p>

		<p><strong>Message:</strong> SQLSTATE[HY093]: Invalid parameter number: no parameters were bound</p>

		<p><strong>Code:</strong> HY093</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(28): helpers\Database->select('SELECT tripId ,...')
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\statistics.php(35): models\trip_model->getTripsByTaxi()
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\statistics->index()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\st...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<p>Error on Mar 31, 2015 16:09PM - Missing argument 1 for models\trip_model::getTripsByTaxi(), called in C:\wamp\www\RoadRunnerPHP\app\controllers\statistics.php on line 35 and defined in C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php on line 21</p><h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 15:00PM</p>

		<p><strong>Message:</strong> SQLSTATE[42S22]: Column not found: 1054 Unknown column 'distance' in 'field list'</p>

		<p><strong>Code:</strong> 42S22</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 157</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(157): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(28): helpers\Database->update('trip', Array, Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(225): models\trip_model->updateTrip(Array, Array)
#3 [internal function]: controllers\taxidriver->endTrip('38', '751', '6701')
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(90): call_user_func_array(Array, Array)
#5 C:\wamp\www\RoadRunnerPHP\app\core\router.php(236): core\Router::invokeObject('\controllers\ta...', Array)
#6 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#7 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 15:00PM</p>

		<p><strong>Message:</strong> SQLSTATE[42S22]: Column not found: 1054 Unknown column 'distance' in 'field list'</p>

		<p><strong>Code:</strong> 42S22</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 157</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(157): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(28): helpers\Database->update('trip', Array, Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(225): models\trip_model->updateTrip(Array, Array)
#3 [internal function]: controllers\taxidriver->endTrip('38', '751', '6701')
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(90): call_user_func_array(Array, Array)
#5 C:\wamp\www\RoadRunnerPHP\app\core\router.php(236): core\Router::invokeObject('\controllers\ta...', Array)
#6 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#7 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 14:58PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SET distance = '6701',duration = '751' WHERE tripId = '38'' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 157</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(157): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(28): helpers\Database->update('', Array, Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(225): models\trip_model->updateTrip(Array, Array)
#3 [internal function]: controllers\taxidriver->endTrip('38', '751', '6701')
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(90): call_user_func_array(Array, Array)
#5 C:\wamp\www\RoadRunnerPHP\app\core\router.php(236): core\Router::invokeObject('\controllers\ta...', Array)
#6 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#7 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 14:50PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SET distance = '6701',duration = '751' WHERE tripId = '38'' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 157</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(157): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(28): helpers\Database->update('', Array, Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(225): models\trip_model->updateTrip(Array, Array)
#3 [internal function]: controllers\taxidriver->endTrip('38', '751', '6701')
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(90): call_user_func_array(Array, Array)
#5 C:\wamp\www\RoadRunnerPHP\app\core\router.php(236): core\Router::invokeObject('\controllers\ta...', Array)
#6 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#7 {main}</pre>

		<hr />
<p>Error on Mar 31, 2015 14:44PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 29</p><p>Error on Mar 31, 2015 14:42PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 27</p><p>Error on Mar 31, 2015 14:38PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 27</p><p>Error on Mar 31, 2015 14:37PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 27</p><h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 14:35PM</p>

		<p><strong>Message:</strong> SQLSTATE[42S22]: Column not found: 1054 Unknown column 'tripId' in 'where clause'</p>

		<p><strong>Code:</strong> 42S22</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 157</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(157): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\user_model.php(56): helpers\Database->update('users', Array, Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(185): models\User_model->setStatus(NULL, 0)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->saveTrip()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 14:32PM</p>

		<p><strong>Message:</strong> SQLSTATE[42S22]: Column not found: 1054 Unknown column 'tripId' in 'where clause'</p>

		<p><strong>Code:</strong> 42S22</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 157</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(157): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\user_model.php(56): helpers\Database->update('users', Array, Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(185): models\User_model->setStatus('38', 0)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->saveTrip()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 13:57PM</p>

		<p><strong>Message:</strong> SQLSTATE[42S22]: Column not found: 1054 Unknown column 'status' in 'field list'</p>

		<p><strong>Code:</strong> 42S22</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 157</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(157): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(60): helpers\Database->update('trip', Array, Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(180): models\trip_model->setDestination(Array, Array)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->saveTrip()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(140): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<p>Error on Mar 31, 2015 12:07PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 30</p><p>Error on Mar 31, 2015 12:03PM - Invalid argument supplied for foreach() in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 32</p><p>Error on Mar 31, 2015 12:03PM - simplexml_load_file(): https://maps.googleapis.com/maps/api/directions/json?origin=,,QC,&amp;destination=,,QC,&amp;language=fr&amp;key=AIzaSyAUyN9gKTwKfbXweO00WNhQH-B18dtyIag:1: parser error : Start tag expected, '&lt;' not found in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 6</p><p>Error on Mar 31, 2015 12:02PM - simplexml_load_file(): I/O warning : failed to load external entity &quot;&quot; in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\destinationPath.php on line 7</p><p>Error on Mar 31, 2015 9:48AM - require(app/views/destinationPath.php): failed to open stream: No such file or directory in C:\wamp\www\RoadRunnerPHP\app\core\view.php on line 28</p><h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 31, 2015 8:42AM</p>

		<p><strong>Message:</strong> SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'addressLine' cannot be null</p>

		<p><strong>Code:</strong> 23000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 114</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(114): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\Address_model.php(48): helpers\Database->insert('address', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(162): models\Address_model->insertNewAddress(Array)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->saveTrip()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(139): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<p>Error on Mar 31, 2015 0:09AM - Missing argument 1 for controllers\taxidriver::getTrip(), called in C:\wamp\www\RoadRunnerPHP\app\core\router.php on line 85 and defined in C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php on line 74</p><p>Error on Mar 30, 2015 22:44PM - Missing argument 1 for controllers\taxidriver::updateATrip(), called in C:\wamp\www\RoadRunnerPHP\app\core\router.php on line 85 and defined in C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php on line 105</p><p>Error on Mar 29, 2015 19:40PM - Missing argument 1 for controllers\taxidriver::index(), called in C:\wamp\www\RoadRunnerPHP\app\core\router.php on line 85 and defined in C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php on line 32</p><p>Error on Mar 29, 2015 19:25PM - Missing argument 1 for controllers\taxidriver::index(), called in C:\wamp\www\RoadRunnerPHP\app\core\router.php on line 85 and defined in C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php on line 32</p><p>Error on Mar 29, 2015 18:28PM - Missing argument 3 for controllers\taxidriver::availableTrips() in C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php on line 37</p><p>Error on Mar 29, 2015 18:20PM - Missing argument 4 for models\trip_model::selectAddressWithin(), called in C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php on line 54 and defined in C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php on line 46</p><p>Error on Mar 29, 2015 16:31PM - simplexml_load_file(): I/O warning : failed to load external entity &quot;&quot; in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\cltList.php on line 4</p><p>Error on Mar 29, 2015 16:31PM - simplexml_load_file(): I/O warning : failed to load external entity &quot;&quot; in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\cltList.php on line 4</p><h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 16:30PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.lng, ( 6371 * acos( cos( radians(':center_lat') ) * cos( radians( lat ) ) * cos' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(56): helpers\Database->select('SELECT trip.tri...', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(47): models\trip_model->selectAddressWithin(45.5527253, -73.6400024, 1)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->availableTrips()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(147): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 16:27PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.lng,
              ( 6371 * acos( cos( radians(':center_lat') ) * cos( radians' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(56): helpers\Database->select('SELECT trip.tri...', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(47): models\trip_model->selectAddressWithin(45.5527253, -73.6400024, 1)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->availableTrips()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(147): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 16:27PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.lng,
              ( 6371 * acos( cos( radians(':center_lat') ) * cos( radians' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(56): helpers\Database->select('SELECT trip.tri...', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(47): models\trip_model->selectAddressWithin(45.5527253, -73.6400024, 1)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->availableTrips()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(147): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 16:27PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.lng,
              ( 6371 * acos( cos( radians(':center_lat') ) * cos( radians' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(56): helpers\Database->select('SELECT trip.tri...', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(47): models\trip_model->selectAddressWithin(45.5527253, -73.6400024, 1)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->availableTrips()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(147): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 16:26PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.tripId , 'trip'.clt_name, 'trip'.clt_Phone_Number,'address'.addressLine,'addres' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(56): helpers\Database->select('SELECT 'trip'.t...', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(47): models\trip_model->selectAddressWithin(45.5527253, -73.6400024, 1)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->availableTrips()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(147): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 16:26PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.tripId , 'trip'.clt_name, 'trip'.clt_Phone_Number,'address'.addressLine,'addres' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(56): helpers\Database->select('SELECT 'trip'.t...', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(47): models\trip_model->selectAddressWithin(45.5527253, -73.6400024, 1)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->availableTrips()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(147): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 16:25PM</p>

		<p><strong>Message:</strong> SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.tripId, 'tripId'.clt_name, 'tripId'.clt_Phone_Number,'address'.addressLine,'add' at line 1</p>

		<p><strong>Code:</strong> 42000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 87</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(87): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(56): helpers\Database->select('SELECT 'tripId'...', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php(47): models\trip_model->selectAddressWithin(45.5527253, -73.6400024, 1)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\taxidriver->availableTrips()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ta...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(147): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<p>Error on Mar 29, 2015 16:13PM - Missing argument 1 for controllers\taxidriver::availableTrips(), called in C:\wamp\www\RoadRunnerPHP\app\core\router.php on line 85 and defined in C:\wamp\www\RoadRunnerPHP\app\controllers\taxidriver.php on line 30</p><h3>Exception information:</h3>

		<p><strong>Date:</strong> Mar 29, 2015 13:42PM</p>

		<p><strong>Message:</strong> SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'intAgent' cannot be null</p>

		<p><strong>Code:</strong> 23000</p>

		<p><strong>File:</strong> C:\wamp\www\RoadRunnerPHP\app\helpers\database.php</p>

		<p><strong>Line:</strong> 114</p>

		<h3>Stack trace:</h3>

		<pre>#0 C:\wamp\www\RoadRunnerPHP\app\helpers\database.php(114): PDOStatement->execute()
#1 C:\wamp\www\RoadRunnerPHP\app\models\trip_model.php(22): helpers\Database->insert('trip', Array)
#2 C:\wamp\www\RoadRunnerPHP\app\controllers\agent.php(116): models\trip_model->insertNewTrip(Array)
#3 C:\wamp\www\RoadRunnerPHP\app\core\router.php(85): controllers\agent->addTrip()
#4 C:\wamp\www\RoadRunnerPHP\app\core\router.php(196): core\Router::invokeObject('\controllers\ag...')
#5 C:\wamp\www\RoadRunnerPHP\index.php(145): core\Router::dispatch()
#6 {main}</pre>

		<hr />
<p>Error on Mar 29, 2015 12:21PM - simplexml_load_file(): Unable to find the wrapper &quot;https&quot; - did you forget to enable it when you configured PHP? in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\cltList.php on line 4</p><p>Error on Mar 29, 2015 12:21PM - simplexml_load_file(): Unable to find the wrapper &quot;https&quot; - did you forget to enable it when you configured PHP? in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\cltList.php on line 4</p><p>Error on Mar 29, 2015 12:14PM - require(app/views/https://maps.googleapis.com/maps/api/geocode/xml?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&amp;key=AIzaSyCGMC9rzLDoncSx9yK6WSRXa93wD3gX9qI.php): failed to open stream: No such file or directory in C:\wamp\www\RoadRunnerPHP\app\core\view.php on line 28</p><p>Error on Mar 29, 2015 12:12PM - simplexml_load_file(): Unable to find the wrapper &quot;https&quot; - did you forget to enable it when you configured PHP? in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\cltList.php on line 2</p><p>Error on Mar 29, 2015 12:03PM - simplexml_load_file(): Unable to find the wrapper &quot;https&quot; - did you forget to enable it when you configured PHP? in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\cltList.php on line 2</p><p>Error on Mar 29, 2015 12:03PM - simplexml_load_file(): Unable to find the wrapper &quot;https&quot; - did you forget to enable it when you configured PHP? in C:\wamp\www\RoadRunnerPHP\app\views\taxidriver\cltList.php on line 2</p>